[submodule "ferramentas"]
	path = ferramentas
	url = https://github.com/materiaisaulas/ferramentas.git
[submodule "algoritmos"]
	path = algoritmos
	url = https://github.com/materiaisaulas/algoritmos.git
[submodule "flutter"]
	path = flutter
	url = https://github.com/materiaisaulas/flutter.git
